<h1> 
	<strong>
		<%= @item.rfid.name %>
	</strong>
</h1>
<p>
	<%= is_onsale(@item.onsale) %>
</p>
<p>
	<%= image_tag "placeholder.gif" %>
</p>
<p>	
	<strong>Color:</strong>
	<%= @item.rfid.color %>
	<br>
	<strong>Size:</strong>
	<%= @item.rfid.size %>
	<br>
	<strong>Gender:</strong>
	<%= gender(@item.rfid.gender) %>
	<br>
	<strong>Location Specific:</strong>
	<%= @item.location %>
	<br>
	<strong>Location:</strong>
	<%= location_specific(@item.localenum) %>
</p>
